// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.mainText {
  font-size: 20px;
}

.secondaryText {
  font-size: 10px;
}

.bg-grey{
  background-color: #CDCDCD;
}

a, a:hover {
  color: #000000;
}

a {
  text-decoration: none;
} 

.editBtn {
  text-decoration: none !important;
}